html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 3px solid grey;
    width: 300px;
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
}

header h1{
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 2rem;
}

a{
    display: block;
    padding:1rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    border-bottom: 2px solid gray;
    transition: background 0.3s;
}

a:hover{
    background-color: #f2f2f2;
}

a:active{
    background-color: #ddd;
    font-weight: bold;
}

main{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

pre{
    background-color: rgba(128, 128, 128, 0.259);
    margin: 1rem;
}

@media (max-width: 768px) {
    nav {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow-x: auto;
        border-right: none;
        border-bottom: 3px solid gray;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    main {
        margin-left: 0;
    }

    header h1 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
